/* styles.css */

body {
    text-align: center;
}

h1 {
    font-size: 36px;
}

tbody {
    display: inline-block;
}

table td, table th {
    border: 1px solid black;
}

div {
    margin: 5px;
}

.instruction-container {
    width: 400px;
    margin: 0 auto;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.instruction-container header {
    border-bottom: 1px solid black;
}

.instruction-container p, .instruction-container h2 {
    margin: 10px 0px;
}

#playerInput {
    margin: 10px 0;
    position: relative;
}

#submitButton {
    position: absolute;
    top: 0;
    bottom: 0;
}

#guess {
    width: 135px;
    padding: 5px;
}

#resetButton {
    margin-top: 25px;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}
